BOT_TOKEN=your_telegram_bot_token_here
IPWHO_ACCESS_KEY=your_ipwho_access_key_here
# HWID is auto-detected from /etc/machine-id (Linux) or MAC address.
# Set manually to override:
# HWID=your_custom_hwid_here
